<div class="container">
    <h1>Welcome to the Example Page</h1>
    <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/binding">Binding</a></li>
        <li><a routerLink="/directive">Directive</a></li>
        <li><a routerLink="/signal">Signal</a></li>
        <li><a routerLink="/service">Service</a></li>
        <li><a routerLink="/form">Forms</a></li>
        <li><a routerLink="/rform">Reactive Forms</a></li>
        <li><a routerLink="/httpclient">HTTP</a></li>
        <li><a routerLink="/comp1">Parent-Child component</a></li>
        <li><a routerLink="/pipe">Pipe</a></li>
    </ul>
</div>
<!-- <router-outlet></router-outlet> -->
