<!-- File Content: Interpolation, Property Binding, Two way binding -->

<!-- pb = interpolation(number,string) + boolean -->
<h1>Interpolation, Property Binding, Two-way Binding</h1>
<hr />
<h3>Property Binding</h3>
Interpolation(Boolean will not work in interpolation):
<input type="text" name="uname" value="{{ name }}" disabled="{{ disabled }}" />
<!-- Output is not same in case of false -->]
<br />

Property Binding:
<input type="text" name="uname" [value]="name" [disabled]="disabled" />

<!-- ------------------------------------------------------ -->
<!-- Two way binding: Update and show property at the sametime. -->

<br /><br />
<h3>Two Way Binding</h3>
<input type="text" [(ngModel)]="name" [disabled]="disabled" />
<p>Name:{{ name }}</p>

<button (click)="toggleDisable()">toggleDisable</button>
disabled:{{ disabled }} <br />
