* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Poppins";
  /* justify-content: center; */
}
body {
  /* color: white; */
  background-color: black;
}
.our-story-in-numbers {
  padding-top: 2rem;
  height: 473px;
  text-align: center;
}
.our-story-in-numbers__heading {
  color: white;
  font-weight: 600;
  font-size: 40px;
}
.our-story-in-numbers__tabs {
  display: flex;
  background-color: black;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  border-color: white;
  gap: 80px;
  /* overflow-x: hidden; */
  padding-top: 40px;
  padding-left: 513.5px;
  /* margin-right: 350px; */
}
.our-story-in-numbers__cards {
  position: relative;
  flex: 1;
  background-color: black;
  text-align: left;
  min-width: 222px;
  max-width: 222px;
  height: 280px;
  -webkit-box-shadow: -5px 90px 120px -85px #febe10, 15px 80px 80px -85px #d91a60ef;
}

.our-story-in-numbers__symbol {
  margin-top: 10px;
  margin-left: 8px;
  border-radius: 20px;
  height: 0.3rem;
  width: 32px;
  background-color: red;
  background-image: linear-gradient(
    to right,
    #febe10,
    #f47a37,
    #f05443,
    #d91a5f,
    #b41f5e
  );
}
.our-story-in-numbers__count {
  margin-top: 24px;
  margin-left: 8px;
  font-weight: 600;
  font-size: 52px;
  line-height: 62.4px;
  width: 129px;
  height: 62px;
}
.our-story-in-numbers__title {
  width: 152px;
  height: 60px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 0.5rem;
  font-weight: 600;
  font-size: 22px;
  text-wrap: wrap;
}
.our-story-in-numbers__content {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 0.5rem;
  font-weight: 400;
  font-size: 14px;
  word-wrap: normal;
  text-wrap: wrap;
  width: 222px;
  line-height: 1.4;
}

@media only screen and (min-width: 450px) {
  .our-story-in-numbers__tabs {
    gap: 20px;
    /* flex-direction: row; */
    padding-left: 97.5px;
  }
}
@media (max-width: 450px) {
  .our-story-in-numbers__heading {
    font-size: 28px;
  }
}
@media only screen and (min-width: 768px) {
  .our-story-in-numbers__tabs {
    gap: 20px;
    /* flex-direction: row; */
    padding-left: 29.5px;
    justify-content: center;
  }
}
@media only screen and (min-width: 1440px) {
  .our-story-in-numbers__tabs {
    gap: 20px;
    /* flex-direction: row; */
    padding-left: 125px;
  }
}
@media (min-width: 2000px) {
  .our-story-in-numbers__tabs {
    justify-content: center;
  }
}
@media (min-width: 2560px) {
  .our-story-in-numbers__tabs {
    padding-top: 30px;
    gap: 80px;
  }
}
